<div class="eventContainer">
  <div class="container eventContainer">
    <div class="row">
      <div class="col-12">
        <div class="teamHeading">
          <h5 class="bigTitle text-center ftBold">
            Our Events
          </h5>
          <div class="headingSpacer mx-auto mt-4"></div>
          <p class="descr text-center teamSubTitle mt-4">
            New Adventures
          </p>
        </div>
        <div class="eventWrapper">
          <div class="row">
            <div class="col-md-6">
              <div class="eventCard">
                <div class="row eventCardWrapper">
                  <div class="col-12 topWrapper">
                    <div class="eventsDateWrapper">
                      <div class="eventIcon">
                        <p class="">
                          May
                        </p>
                        <p class="">
                          4
                        </p>
                      </div>
                    </div>
                    <img
                      class="img-fluid rounded d-block eventImg"
                      src="https://images.pexels.com/photos/1758531/pexels-photo-1758531.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    />
                  </div>

                  <div class="col-12">
                    <h5 class="eventTitle">
                      DESIGN THINKING WORKSHOP
                    </h5>
                    <hr />
                    <p class="descr eventDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut. The Innovation team
                      has the pleasure to announce the first 2020 TunRw event
                      'The Design thinking Workshop by TunRw.It's the 21st
                      century and every modern company, firm or association is
                      trying to implement Agile and Design thinking in order to
                      improve their efficiency.
                    </p>
                    <hr />
                    <p class="eventAddress">
                      <i
                        _ngcontent-kuo-c6=""
                        class="fas fa-map-marker-alt mr-2"
                      ></i>
                      Pontstr. 41, 52062 Aachen
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="eventCard">
                <div class="row eventCardWrapper">
                  <div class="col-12 topWrapper">
                    <div class="eventsDateWrapper">
                      <div class="eventIcon">
                        <p class="">
                          May
                        </p>
                        <p class="">
                          4
                        </p>
                      </div>
                    </div>
                    <img
                      class="img-fluid rounded d-block eventImg"
                      src="https://images.pexels.com/photos/1130847/pexels-photo-1130847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    />
                  </div>

                  <div class="col-12">
                    <h5 class="eventTitle">
                      DESIGN THINKING WORKSHOP DESIGN THINKING WORKSHOP
                    </h5>
                    <hr />
                    <p class="descr eventDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut. The Innovation team
                      has the pleasure to announce the first 2020 TunRw event
                      'The Design thinking Workshop by TunRw.It's the 21st
                      century and every modern company, firm or association is
                      trying to implement Agile and Design thinking in order to
                      improve their efficiency. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut.
                    </p>
                    <hr />
                    <p class="eventAddress">
                      <i
                        _ngcontent-kuo-c6=""
                        class="fas fa-map-marker-alt mr-2"
                      ></i>
                      Pontstr. 41, 52062 Aachen
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
