/* ######## Events ######### */

.eventCard {
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 0 4px 0 rgba(33, 33, 33, 0.178);
  border-radius: 4px;
  background: white;
  transition: 0.5s all;
  cursor: default;
  padding-bottom: 0.5rem;
}
.eventCardUpcoming {
  padding: 1.5rem;
  transition: 0.5s all;
  cursor: default;
}
.topDate {
  border-bottom: 1px solid white;
}
.bottomDate,
.topDate {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0px;
}
.bottomDate {
  font-size: 18px;
  font-weight: 900;
}
.eventCard:hover {
  box-shadow: 0 0 8px 0 rgba(33, 33, 33, 0.441);
}

.eventContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.eventIcon {
  position: relative;
  width: 50px;
  background: #e71426;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.eventIcon i {
  font-size: 26px;
  position: relative;
  bottom: 2px;
}

.eventTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.teamSubTitle {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.topWrapper-up {
  overflow: hidden;
}
.topWrapper,
.topWrapper-up {
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.topWrapper:hover,
.topWrapper-up:hover {
  transform: scale(1.025);
}

.headingSpacer {
  border: 1px solid rgb(231, 20, 38);
  border-radius: 2px;
  width: 30%;
}
.eventWrapper {
  margin-top: 5em;
}

.eventDesc {
  height: 233px;
  overflow-y: auto;
  padding-right: 10px;
}
.eventCardUpcoming .eventImg {
  margin-bottom: 0px;
}
.eventImg {
  max-height: 400px;
  min-width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.eventsDateWrapper {
  position: absolute;
  top: 10px;
  right: 1.5rem;
}
.eventAddress i {
  color: #e71426;
}
.bottomWrapper {
  box-shadow: 0 0 4px 0 rgba(33, 33, 33, 0.178);
  padding: 26px;
  position: relative;
}
.img-fluid-up {
  max-height: 400px;
  min-width: 100%;
  overflow: hidden;
}
.navWrapper {
  position: relative;
  bottom: 35px;
  width: fit-content;
  margin: 0 auto;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e71426 !important;
}
.nav-link {
  color: #232323;
  background: white;
  margin-left: 10px;
  border: 1px solid #eeee;
  border-radius: 4px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-link.disabled {
  color: #e5e5e5;
}
.topSeperator {
  border: none;
  margin-top: 4rem;
}
.seperator-small {
  position: relative;
  width: 100%;
  height: 1px;
  background: #ddd;
  bottom: 21px;
  z-index: -1;
}
.nav-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .topWrapper-up {
    border-radius: 0.25rem !important;
    padding: 0px;
  }
  .bottomWrapper {
    bottom: -20px;
  }
  .topSeperator {
    margin-top: 5.5rem !important;
  }
  .eventDesc {
    height: 180px;
  }
}
@media (max-width: 576px) {
  .swiper-button-next{
    right: 10px;
  }
  .swiper-button-prev{
    left: 10px;
  }
}
@media (min-width: 576px) {
  .swiper-button-next{
    right: -20px;
  }
  .swiper-button-prev{
    left: -20px;
  }
}


.carouselWrapper {
  display: block;
  height: 720px;
  width: 100%;
}
