<div class="eventContainer">
  <div class="container eventContainer">
    <div class="row">
      <div class="col-12">
        <div class="teamHeading">
          <h5 class="bigTitle text-center ftBold">
            Our Events
          </h5>
          <div class="headingSpacer mx-auto mt-4"></div>
          <p class="descr text-center teamSubTitle mt-4">
            New Adventures
          </p>
        </div>
        <div class="eventWrapper">
          <div class="row">
            <!-- Upcoming Event -->
            <div class="col-md-12 UpcomingEvent">
              <div class="eventCardUpcoming">
                <div class="row eventCardWrapper">
                  <div class="col-lg-7 topWrapper-up">
                    <div class="eventsDateWrapper">
                      <div class="eventIcon">
                        <p class="topDate">
                          Jan
                        </p>
                        <p class="bottomDate">
                          14
                        </p>
                      </div>
                    </div>
                    <img
                      class="img-fluid-up rounded d-block eventImg"
                      src="https://images.pexels.com/photos/373888/pexels-photo-373888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    />
                  </div>

                  <div class="col-lg-5 bottomWrapper">
                    <h5 class="eventTitle">
                      DESIGN THINKING WORKSHOP
                    </h5>
                    <hr />
                    <p class="descr eventDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut. The Innovation team
                      has the pleasure to announce the first 2020 TunRw event
                      'The Design thinking Workshop by TunRw.It's the 21st
                      century and every modern company, firm or association is
                      trying to implement Agile and Design thinking in order to
                      improve their efficiency.
                    </p>
                    <hr />
                    <p class="eventAddress m-0">
                      <i
                        _ngcontent-kuo-c6=""
                        class="fas fa-map-marker-alt mr-2"
                      ></i>
                      Pontstr. 41, 52062 Aachen
                    </p>
                  </div>
                </div>
              </div>
              <hr class="my-5" />

              <hr class="topSeperator" />
            </div>
            <!-- END Upcoming Event -->

            <!-- Rest Event -->

            <div class="col-md-12">
              <ul
                class="nav nav-pills navWrapper"
                id="pills-tab"
                role="tablist"
              >
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="pills-home-tab"
                    data-toggle="pill"
                    href="#pills-home"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                    >Jan</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-profile-tab"
                    data-toggle="pill"
                    href="#pills-profile"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                    >Feb</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Mar</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Apr</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Jun</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Jul</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Aug</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Sep</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Oct</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Nov</a
                  >
                  <div class="seperator-small"></div>
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link disabled"
                    id="pills-contact-tab"
                    data-toggle="pill"
                    href="#pills-contact"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                    >Dec</a
                  >
                  <div class="seperator-small"></div>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                >
                  <div class="carouselWrapper">
                    <event-carousel [slides]="slides"></event-carousel>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-profile"
                  role="tabpanel"
                  aria-labelledby="pills-profile-tab"
                >
                  <div class="carouselWrapper">
                    <event-carousel [slides]="slides"></event-carousel>
                  </div>
                </div>
              </div>
            </div>

            <!-- END Rest Event -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
