// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tunrw-front-primary: mat-palette($mat-indigo);
$tunrw-front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tunrw-front-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tunrw-front-theme: mat-light-theme($tunrw-front-primary, $tunrw-front-accent, $tunrw-front-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tunrw-front-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: rgb(300, 300, 300);
}

.swiper-scrollbar-drag {
  background-color: #e71426 !important;
  border-left: 10px solid #fff !important;
  border-right: 10px solid #fff !important;
  height: 20px !important;
  border-radius: 0px;
  position: relative;
  left: 0;
  top: -8px;
}
.swiper-scrollbar {
  position: relative;
  z-index: 50;
  height: 4px !important;
  margin-top: 35px;
  margin-bottom: 20px;
  right: auto;
  left: -10px;
  background-color: #cfd6e3;
  border-radius: 0;
  cursor: pointer;
}

/* ###### General style ###########*/
.title,
.smallTitle,
.medTitle,
.bigTitle,
.serviceTitle,
.descr,
.aboutTitleWrapper {
  font-family: "Niramit", sans-serif !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
}

.smallTitle {
  font-size: 16px !important;
}

.medTitle {
  font-size: 20px !important;
}

.bigTitle {
  font-size: 36px !important;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ftBold {
  font-weight: 800;
}

.ftLight {
  font-weight: 200;
}

.descr {
  font-weight: 200;
  text-align: justify;
}
.spacer {
  margin: 4rem 0;
}
