/*#########  NAVBAR Style ########*/
.logoBG {
  mask-image: url('../../assets/images/logo.png');
  width: 160px;
  height: 40px;
  mask-size: 160px;
  mask-position: center;
  mask-repeat: no-repeat;
  background: #eaeaea;
}

.navbar {
  background-color: transparent !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;

}

.navbarBorder {
  border-bottom: 1px solid #504e78a2;

}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: 'Niramit', sans-serif !important;
}

.nav-link {
  padding: 10px;
}

.nav-link,
.nav-item {
  text-transform: uppercase;
  border-radius: 2px;
  transition: 0.8s all;
}

.active>.nav-link {
  background: rgb(231, 20, 38);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.28);
  color: white !important;


  // border-bottom: 1px solid #E71424 !important;
}

.nav-link:hover {
  background: rgb(231, 20, 38) !important;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.28);
  color: white !important;

  // border-bottom: 1px solid #E71424 !important;
}


.navbar-toggler {
  border: none !important;
}

.navbarCover {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 88px;
  position: fixed;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  z-index: 3;

}

@media (max-width: 992px) {
  .navbar-nav {
    position: relative;
    width: min-content;
    border-radius: 4px;
    margin-top: 2rem;
  }

  .nav-link {
    padding: 10px 20px;
    margin-top: 5px;
  }

  .bgWhite {
    background: rgba(255, 255, 255, 0.989) !important;
    -webkit-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
    box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
  }
  .bgMed{

    background: #262626 !important;
    -webkit-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
    box-shadow: -10px 10px 24px 0px rgba(0, 0, 0, 0.28);
  }


  .coverHeadingContainer {
    height: calc(100vh) !important;
    margin-bottom: 5rem;
  }

}

/*#########  Cover Style ########*/
.coverFilter {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(rgb(26, 26, 26), rgba(231, 20, 38, 0.158));

}

.coverFilter2 {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(#07020bcd, #c3143131);

}

.coverAbstract {
  transition: 0.5s all;
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background-image: url("../../assets/images/BG_Cover.jpg");
  background-size: auto 180vh;
  opacity: 0.7;
  mix-blend-mode: color;
  background-repeat: no-repeat;
}

.coverContainer {
  transition: 0.5s all;
  background-image: url("../../assets/images/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
}


/* ########### Cover Heading style ######## */
.navbarContainer {
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 0%);
}

.coverHeadingContainer {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  height: calc(100vh - 200px);
}

.coverHeadingTitle {
  font-family: 'Noto Serif', serif !important;
  color: #ffffff30;
  font-size: 30px;
}

.coverHeadingTitlePrimary {
  font-family: 'Noto Serif', serif !important;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.coverHeadingTitlePrimary span {
  font-size: 35px;

}

.coverSubHeadingTitle {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverSubHeadingSpacer {
  height: 1px;
  width: 40px;
  background-color: rgb(231, 20, 38);
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrollButton {
  margin-bottom: 1rem;
  background: url('../../assets/images/scrollIcon.png');
  background-size: 20px;
  width: 20px;
  height: 33px;
}
