
<div class="swiper-team">
  <div class="swiper-wrapper">
    <div class="swiper-slide p-2" *ngFor="let slide of slides; let i = index">
      <div class="eventCard firstSlideCard">
        <div class="row eventCardWrapper">
          <img class="imgFluid" [src]="slide.src" />
          <div class="slideTitle">
            <h5>{{ slide.name }}</h5>
          </div>
          <div class="slideTitle">
            <p class="descr">{{ slide.position }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
