<!-- carousel -->
<div class="carousel" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">
  <ng-container *ngFor="let slide of slides; let i = index">

    <div class="slide" @slideAnimation (swipeleft)="onSwipeLeft($event)" *ngIf="i === currentSlide"
      (swiperight)="onSwipeRight($event)">
      <img [src]="slide.src" @slideAnimation (swipeleft)="onSwipeLeft($event)" *ngIf="i === currentSlide"
        (swiperight)="onSwipeRight($event)" />
      <div class="slideTitle">
        <h5 class="medTitle">Lorem Ipsum</h5>
      </div>
      <div class="slideTitle">
        <p class="descr">Chef Maister</p>
      </div>

    </div>
    <div *ngIf="i === sndSlide" class="slide sdSlide" @slideAnimation (swipeleft)="onSwipeLeft($event)"
      (swiperight)="onSwipeRight($event)">
      <img [src]="slide.src" @slideAnimation (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" />
      <div class="slideTitle">
        <h5 class="medTitle">Lorem Ipsum</h5>
      </div>
      <div class="slideTitle">
        <p class="descr">Chef Maister</p>
      </div>
    </div>
    <div *ngIf="i === thdSlide" class="slide thdSlide" @slideAnimation (swipeleft)="onSwipeLeft($event)"
      (swiperight)="onSwipeRight($event)">
      <img [src]="slide.src" @slideAnimation (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" />
      <div class="slideTitle">
        <h5 class="medTitle">Lorem Ipsum</h5>
      </div>
      <div class="slideTitle">
        <p class="descr">Chef Maister</p>
      </div>
    </div>


  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
