<!-- Cover -->

<div class="container coverContainer"></div>
<div class="coverFilter"></div>


<!-- Navbar-->
<div class="container navbarContainer">
  <div class="row">
    <div class="col-12 ">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand logoBG" href="#"></a>
        <button class="navbar-toggler" (click)="onMenuClick()" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <mat-icon class="menuIcon" aria-hidden="false" aria-label="Example sort icon">sort</mat-icon>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
    <div *ngIf="!menuExpandFlag" class="col-12 ">
      <div class="navbarBorder">

      </div>
    </div>
  </div>
</div>

<!-- Main-->

<div class="container coverHeadingContainer center">
  <div class="row">

    <!-- Heading Tet-->
    <div class="col-12 p-5 ">
      <h5 class="coverSubHeadingTitle">
        We need you
      </h5>
      <div class="coverSubHeadingSpacer mx-auto">
      </div>
      <h1 class="coverHeadingTitle">
        Alone , we can do so little
      </h1>
      <h1 class="coverHeadingTitlePrimary mt-4">
        <span>Together</span> , we can do so much
      </h1>
    </div>



  </div>

</div>

<div class="container aboutContainer">
  <div class="row">

    <div class="aboutWrapper p-4 col-10 offset-1">
      <h5 class="aboutTitle medTitle mb-4">ABOUT US</h5>
      <p class="descr mr-4 ml-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque nisl sed commodo convallis.
        Pellentesque ultrices vehicula faucibus. Phasellus at lorem interdum, mollis lacus et, consequat sem. Sed vitae
        fermentum nulla, eu luctus velit. Etiam a dui a dolor convallis venenatis. Etiam pretium gravida arcu in
        iaculis. Sed congue cursus magna, eu ultrices lorem luctus quis. Cras convallis scelerisque massa quis interdum
      </p>

      <div class="row ml-2 mt-4">
        <div class="col-lg-3">
          <div class="aboutTitleWrapper">
            <div class="mr-2 aboutValue">25.</div>
            <div class="aboutTextValue">
              <h5 class="medTitle">
                Events
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aboutTitleWrapper">
            <div class="mr-2 aboutValue">12.</div>
            <div class="aboutTextValue">
              <h5 class="medTitle">
                Projects
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="aboutTitleWrapper">
            <div class="mr-2 aboutValue">35.</div>
            <div class="aboutTextValue">
              <h5 class="medTitle">
                Members
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="mx-auto">
            <h5 (click)="onFBClick()" class="smallTitle socialButtonWrapper ">
              <div class="socialIcon">
              </div>
              <span class="pr-4">
                Facebook Page

              </span>
            </h5>
          </div>

        </div>

      </div>

    </div>



  </div>

</div>

<div class="container  mt-5">
  <div class="row">
    <div class="col-12">
      <div class="teamContainer">
        <carousel [slides]="slides"></carousel>

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
