/* ######## About Style #########*/
.aboutWrapper {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .32);
}

.aboutWrapper {
  color: #232323;
}

.aboutTitle {
  font-size: 14px;
}

.socialButtonWrapper i {
  font-size: 22px;
  position: relative;
  top: 2px;
}

.socialButtonWrapper {
  line-height: 50px;
  background: rgb(67, 67, 67);
  color: white;
  border-radius: 4px;
  font-weight: 200 !important;
  cursor: pointer;
  transition: 0.8s all;
  position: relative;
  text-align: center;
  top: 8px;
}

.socialButtonWrapper:hover {
  background: #4267B2;
}

.aboutTitleWrapper {
  display: flex;
  width: fit-content;
}

.aboutValue {
  font-size: 40px !important;
  font-weight: 200 !important;
  min-width: 60px;
}

.aboutTextValue h5 {
  line-height: 60px;
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .aboutTitleWrapper {
    margin-left: 2%;
  }

}

/* ######## TEAM ######### */
.tmContainer {
  margin-top: 6rem;
  margin-bottom: 3rem;

}

.teamWrapper {
  display: block;
  height: 400px;
}

.teamSubTitle {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 14px;
  margin-bottom: 2rem;
}

.headingSpacer {
  border: 1px solid rgb(231, 20, 38);
  border-radius: 2px;
  width: 25%;
}

/* ######## Service ######### */

.serviceCard {
  padding: 2rem;
  margin-top: 1.5rem;
  box-shadow: 0 0 4px 0 rgba(33, 33, 33, 0.178);
  border-radius: 4px;
  background: white;
  transition: 0.5s all;

}

.serviceCard:hover {
  box-shadow: 0 0 8px 0 rgba(33, 33, 33, 0.441);

}

.serviceContainer {
  background: #f2f2f2;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

/*###### SERVICES ####*/

.serviceBG {
  background-color: #969696;
  position: absolute;
  width: 50px;
  z-index: 0;
  height: 50px;
  top: -6px;
  left: 8px;
  border-radius: 5px;
}

.serviceIcon {
  position: relative;
  z-index: 1;
  width: 50px;
  background: #e71426;
  margin: 0 auto;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
}

.serviceIcon i {
  font-size: 26px;
  position: relative;
  bottom: 2px;
}

.serviceTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.serviceCardWrapper {
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.serviceCardWrapper:hover {
  transform: scale(1.025);
}