<div class="clusterWrapper">
  <app-sponsors></app-sponsors>

  <div class="contactContainer">
    <div class="container contactContainer">
      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <div class="teamHeading">
            <h5 class="bigTitle text-center ftBold">Get In Touch</h5>
            <div class="headingSpacer mx-auto mt-4"></div>
            <p class="descr text-center teamSubTitle mt-4">
              FEEL FREE TO CONTACT US
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-8 mt-5 joinUsText">
          <h2 class="mb-3">We'd love to hear from you</h2>
          <p class="mt-4 contactDesc">
            We are looking for inspired individuals like you! If you’re
            interested you can join us. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Cras adipiscing enim eu turpis egestas.
            Fermentum iaculis eu non diam phasellus vestibulum.
          </p>
        </div>
        <div class="col-md-4 mt-5">
          <div class="joinBG"></div>
        </div>
        <div class="col-12">
          <div class="joinButton mx-auto">Become a Member</div>
        </div>
      </div>
      <div class="spacingEvent mx-auto"></div>
      <hr />
      <div class="row">
        <div class="col-lg-4 mt-5">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="list-group-wrapper">
                <div class="iconList">
                  <div class="iconWrapper">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                </div>
                <div class="textList">
                  <span class="textListPrimary">Contact Number</span><br /><span
                    class="textListSecondary"
                  >
                    +001 234 567 890
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-group-wrapper">
                <div class="iconList">
                  <div class="iconWrapper">
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
                <div class="textList">
                  <span class="textListPrimary">Email Address</span><br /><span
                    class="textListSecondary"
                  >
                    info.tunrw@gmail.com
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-group-wrapper">
                <div class="iconList">
                  <div class="iconWrapper">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                </div>
                <div class="textList">
                  <span class="textListPrimary">Office Address</span><br /><span
                    class="textListSecondary"
                  >
                    Hofestatt 13, 57439 Attendorn, Germany
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-group-wrapper">
                <div class="iconList">
                  <div class="iconWrapper">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                </div>
                <div class="textList">
                  <span class="textListPrimary">Office Time</span><br /><span
                    class="textListSecondary"
                  >
                    Mon - Fri 08:00 - 19:00
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 mt-5">
          <div class="contactShell">
            <h3 class="contactTitle">Leave a Message</h3>
            <form
              id="contactForm"
              name="sentMessage"
              novalidate=""
              class="ng-untouched ng-pristine ng-valid mt-5"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="name"
                      placeholder="Your Name *"
                      type="text"
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="email"
                      placeholder="Your Email *"
                      type="email"
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="phone"
                      placeholder="Your Phone Number *"
                      type="text"
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control"
                      id="subject"
                      placeholder="Your Subject *"
                      type="email"
                    />
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      id="message"
                      placeholder="Your Message *"
                    ></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="row mt-3">
                <div class="mx-auto mb-5">
                  <button class="btn submitButton" type="submit">
                    Send Message
                    <i class="fas fa-paper-plane ml-3"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
