<div class="serviceContainer">
  <div class="container serviceContainer">
    <div class="row">
      <div class="col-12">
        <div class="teamHeading">
          <h5 class="bigTitle text-center ftBold ">
            Our Services
          </h5>
          <div class="headingSpacer mx-auto mt-4">

          </div>
          <p class="descr text-center teamSubTitle mt-4">
            THINK SMART
          </p>
        </div>
        <div class="serviceWrapper">
          <div class="row">
            <div class=" col-md-6">
              <div class="serviceCard">
                <div class="row serviceCardWrapper">
                  <div class="col-3 p-0 m-0">
                    <h2 class="serviceIcon">
                      <i class="fas fa-graduation-cap"></i>
                    </h2>
                  </div>
                  <div class="col-9">
                    <h5 class="serviceTitle">
                      Scholarship
                    </h5>
                    <hr />
                    <p class="descr serviceDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <div class=" col-md-6">
              <div class="serviceCard">
                <div class="row serviceCardWrapper">
                  <div class="col-3 p-0 m-0">
                    <h2 class="serviceIcon">
                      <i class="fas fa-bolt"></i>
                    </h2>
                  </div>
                  <div class="col-9">
                    <h5 class="serviceTitle">
                      Fast
                    </h5>
                    <hr />
                    <p class="descr serviceDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <div class=" col-md-6">
              <div class="serviceCard">
                <div class="row serviceCardWrapper">
                  <div class="col-3 p-0 m-0">
                    <h2 class="serviceIcon">
                      <i class="fas fa-shield-alt"></i>
                    </h2>
                  </div>
                  <div class="col-9">
                    <h5 class="serviceTitle">
                      Secure
                    </h5>
                    <hr />
                    <p class="descr serviceDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <div class=" col-md-6">
              <div class="serviceCard">
                <div class="row serviceCardWrapper">
                  <div class="col-3 p-0 m-0">

                    <h2 class="serviceIcon">
                      <i class="fas fa-child"></i>
                    </h2>
                  </div>
                  <div class="col-9">
                    <h5 class="serviceTitle">
                      Friendly
                    </h5>
                    <hr />
                    <p class="descr serviceDesc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </p>
                  </div>
                </div>

              </div>
            </div>

           

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
