.projectContainer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f2f2f2;
  
}

.projectWrapper {
  margin-top: 5em;
}

.headingSpacer {
  border: 1px solid rgb(231, 20, 38);
  border-radius: 2px;
  width: 30%;
}
.teamSubTitle {
  letter-spacing: 3px;
  text-transform: uppercase;
}
