
/* ######## TEAM ######### */
.tmContainer {
    margin-top: 6rem;
    margin-bottom: 3rem;
  
  }
  
  .teamWrapper {
    display: block;
    height: 400px;
  }
  
  .teamSubTitle {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  
  .headingSpacer {
    border: 1px solid rgb(231, 20, 38);
    border-radius: 2px;
    width: 25%;
  }
  