<div class="container tmContainer">
  <div class="row">
    <div class="col-12">
      <div class="teamHeading">
        <h5 class="bigTitle text-center ftBold ">
          Our Team
        </h5>
        <div class="headingSpacer mx-auto mt-4">

        </div>
        <p class="descr text-center teamSubTitle mt-4">
          The talented Crew
        </p>
      </div>
      <div class="teamWrapper spacer">

        <carousel [slides]="slides"></carousel>

      </div>

    </div>
  </div>
</div>
