<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide p-2" *ngFor="let slide of slides; let i = index">
      <div class="eventCard firstSlideCard">
        <div class="row eventCardWrapper">
          <div class="col-12 topWrapper">
            <div class="eventsDateWrapper">
              <div class="eventIcon">
                <p class="topDate">
                  Jan
                </p>
                <p class="bottomDate">
                  14
                </p>
              </div>
            </div>
            <img class="img-fluid rounded d-block eventImg" [src]="slide.src" />
          </div>

          <div class="col-12">
            <h5 class="eventTitle">
              {{ slide.name }}
            </h5>
            <hr />
            <p class="descr eventDesc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut. The Innovation team has the pleasure
              to announce the first 2020 TunRw event 'The Design thinking
              Workshop by TunRw.It's the 21st century and every modern company,
              firm or association is trying to implement Agile and Design
              thinking in order to improve their efficiency.
            </p>
            <hr />
            <p class="eventAddress">
              <i _ngcontent-kuo-c6="" class="fas fa-map-marker-alt mr-2"></i>
              Pontstr. 41, 52062 Aachen
              <span>
                in 2 days
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Add Scrollbar -->
  <!-- Add Arrows -->
</div>
<div class="swiper-scrollbar"></div>
