<div class="sponsorContainer">
  <div class="container sponsorContainer">
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-fluid" src="https://i.ibb.co/mzKKXyQ/rwth.png" />
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-fluid" src="https://i.ibb.co/c3nL6FT/aok.png" />
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-fluid " src="https://i.ibb.co/KwKwxkn/Sparkasse-logo.png" />
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
        <img class="img-fluid" src="https://i.ibb.co/x1fVPwm/stadt-Aachen.png" />
      </div>
    </div>
  </div>
</div>
